[Desktop Entry]
Encoding=UTF-8
Name=sarmacoins
Comment=sarmacoins P2P Cryptocurrency
Comment[fr]=sarmacoins, monnaie virtuelle cryptographique pair à pair
Comment[tr]=sarmacoins, eşten eşe kriptografik sanal para birimi
Exec=sarmacoins-qt %u
Terminal=false
Type=Application
Icon=sarmacoins128
MimeType=x-scheme-handler/sarmacoins;
Categories=Office;Finance;
